.button {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9CA3DB;
  border: none;
  border-radius: 4px;
  border-color: #101019;
  overflow: hidden;
  cursor: pointer;
  margin-left: : 70px
}
#button1:before {
	content:'';
	position: absolute;
  down: 1500px;
	top: 8px;
	left: 777px;
	width: 0;
	height: 45px;
	background:rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
#button1:hover:before {
	width: 290px;
}

 input[type=text] {
   font-size: 14px;
   border: 2px solid #181926;
   border-radius: 4px;
   background-color:#fff;
   padding-left: 20px;
   margin-left: 70px;
 }
 input[type=text] {
   font-size: 14px;
   border: 2px solid #181926;
   border-radius: 4px;
   background-color: #fff;
   padding-left: 20px;
   margin-left: 70px;
 }
 #number {
     background-image: url(https://www.flaticon.com/svg/vstatic/svg/330/330473.svg?token=exp=1613228429~hmac=86c5dd868ec24fef4db049820af0f767);
     background-repeat: no-repeat;
     background-position: 4px;
     outline: none;
     -webkit-border-radius: 5px;
     padding-left: 48px;
     height: 20px;
     font-size: 13px;
     margin-left: 70px;
     margin-right: 15px;
 }
 ::-webkit-input-placeholder {
   color:    #677DB7;
}
